.Header{
    height: 100px;
    background: cornflowerblue;
    display: flex;
    justify-content: space-between;
}
.Navbar{
    display: inline;
}
.Navbar ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.Navbar ul li{
    display: block;
    margin: 0.5em;
}
.Navbar ul li a{
    text-decoration: none;
}